body{
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #333;
    }
    
    header {
        background-color: #ffffff;
        padding: 2em;
        text-align: center;
        color: rgb(15, 155, 66);

    }
    section {
        padding: 2em;
        margin: 1em 0;
        background-color: #F5EEF5;
    }
    
    section h2 {
        margin-top: 0;
    }

    
    .section-color-1 {
        background-color: #F5EEF5;
        color: rgb(138, 133, 133);
        font-size: 30px;
        text-align: left;
        margin-top: 60px;

    }
    
    .section-color-2 {
        background-color: #FAF5F3;
        color: rgb(0, 0, 0);
        font-size: 30px;
        text-align: right;
        margin-top: 40px;

    }
    
    .section-color-3 {
        background-color: #F2F9F8;
        color: rgb(138, 133, 133);
        font-size: 30px;
        text-align: left;
        margin-top: 60px;
    }
    
    .section-color-4 {
        background-color: #000000;
        color: white;
    }

 .img-der{
 margin-left: 60%;
width: 30%;
text-align: right;
margin-top: -300px;
 }

 .img-izq{
    margin-right: 800px;
    width: 30%;
    text-align: center;
    margin-top: -240px;

 }

 @media only screen and (max-width: 600px) {
    /* Your existing CSS rules for mobile devices */
  
    .img-der,
    .img-izq {
      margin: 1em 0;
      width: 100%;
      text-align: center;
    }
  
    .section-color-1 .img-der,
    .section-color-2 .img-der,
    .section-color-3 .img-der {
      order: 2;
      margin-top: 0;
    }
  
    .section-color-1 .img-izq,
    .section-color-2 .img-izq,
    .section-color-3 .img-izq {
      order: 1;
    }
  }
}
